Source: didiwiki
Section: web
Priority: optional
Maintainer: Ignace Mouzannar <mouzannar@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6

Package: didiwiki
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: simple wiki implementation with built-in webserver
 DidiWiki is aimed at those who need a quick and lightweight wiki for
 personal use, such as notes, "to do" lists, etc. It is written in C,
 and has very low system requirements (binary size of ~25k
 stripped). This makes it particularly useful for handhelds. DidiWiki
 does not require installation of a separate webserver, scripting
 language, or database.
